{% extends "base.html" %}{% block content %}
<div class="row">
    <div class="col-6" id="logoSize">
        <img id="logoImg" src="{{ url_for('static',filename='img/kgi-logo.jpeg') }}" alt="讀不到圖片拉">
    </div>
    <div class="col-6" id="logoBanner">
        <img id="logoNav" class="nav-icon1" src="{{ url_for('static',filename='img/icon-6.png') }}" alt="讀不到圖片拉">
        <img id="logoAudio" class="nav-icon2" src="{{ url_for('static',filename='img/group-1841.png') }}" alt="讀不到圖片拉">
    </div>
</div>
<div class="title-gap"></div>
<div class="text-center">
    <div id="timer">30</div>
    <button onclick="start()">開始</button>
</div>
<div class="row">
    <div class="col-4 block-title">排名</div>
    <div class="col-4 block-title">姓名</div>
    <div class="col-4 block-title">點數</div>
</div>
<div id="rankingContain"></div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/display-ranking.js') }}"></script>
<script>
    // var userData = {{resultData|safe}};
</script>
{% endblock %}