{% extends "base.html" %}{% block content %}
<body onload="showModal('{{showModal}}', '{{email}}')"></body>
<div id="ownerClearPoints" class="clear-point" onclick="clearPoint()">clear</div>
<div class="main">
    <div class="row">
        <div class="col-6" id="logoSize">
            <a href="/exchange-item/{{email}}/false">
                <img id="logoImg" src="{{ url_for('static',filename='img/kgi-logo.jpeg') }}" alt="讀不到圖片拉">
            </a>
        </div>
        <div class="col-6" id="logoBanner">
            <img id="logoNav" class="nav-icon1" src="{{ url_for('static',filename='img/icon-6.png') }}" alt="讀不到圖片拉">
            <img id="logoAudio" class="nav-icon2" src="{{ url_for('static',filename='img/group-1841.png') }}" alt="讀不到圖片拉">
        </div>
    </div>
    <div class="title-gap"></div>
    <div class="container">
        <img id="totalPointsImg" src="{{ url_for('static',filename='img/totalPointsBackgroundImg.png') }}" alt="讀不到圖片拉">
        <div id="showTotalPoints">
            <img class="kmini-img" src="{{ url_for('static',filename='img/kminiPoints.png') }}" alt="">
            <h5 id="exampleModalLabel">Kmini Points</h5>
            <div class="text-center">
                <div class="check-points-center">{{totalPoints}} 點</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="welcomePage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLabel">歡迎回來！</h5>
                <img class="indexPageImg" src="{{ url_for('static',filename=imgUrl) }}" alt="找不到圖片拉">
                <div>{{email}}@(tw.)ibm.com</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-gap"></div>
    <div class="row">
        <div class="col-6">
            <img class="content-img" src="{{ url_for('static',filename='img/footerIcon1.png') }}" alt="讀不到圖片拉">
            <div class="img-description">首頁</div>
        </div>
        <div class="col-6" onclick="pageToIndex('{{email}}');">
            <img class="content-img" src="{{ url_for('static',filename='img/footerIcon2.png') }}" alt="讀不到圖片拉">
            <div class="img-description">分類</div>
        </div>
    </div>
</footer>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('.main').css('min-height', $(window).height()-20);
        $('.container').css('height', $(window).height() * 0.3);
        $('.container').css('width', $(window).width());
        $('#showTotalPoints').css('height', $(window).height() * 0.25);
        $('#showTotalPoints').css('padding-top', $('#showTotalPoints').height() * 0.5);
        $('#showTotalPoints').css('width', $(window).width() * 0.8);
    });

    function showModal(show, email) {
        if (email == 'clay.lin') {
            $('#ownerClearPoints').css('display', 'block');
        }
        if (show == 'true') {
            var resizeTimeout;
            $('#welcomePage').modal('show');
            clearTimeout(resizeTimeout)
            esizeTimeout = setTimeout(function () {
                $('#welcomePage').modal('hide');
            }, 5000);
        }
    }

    function pageToIndex(email){
        window.location.href = '/index/' + email;
    }

    function clearPoint() {
        $.ajax({
            type: "POST",
            url: "/clear-points",
            contentType: "application/json",
            data: {},
            dataType: "json",
            success: function (response) {
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>
{% endblock %}