
{% extends "base.html" %} 
{% block content %}
<div class="row">
  <div class="col-6" id="logoSize">
    <a href="/exchange-item/{{email}}/false">
      <img id="logoImg" src="{{ url_for('static',filename='img/kgi-logo.jpeg') }}" alt="讀不到圖片拉">
    </a>
  </div>
  <div class="col-6" id="logoBanner">
    <img id="logoNav" class="nav-icon1" src="{{ url_for('static',filename='img/icon-6.png') }}" alt="讀不到圖片拉">
    <img id="logoAudio" class="nav-icon2" src="{{ url_for('static',filename='img/group-1841.png') }}" alt="讀不到圖片拉">
  </div>
</div>
<div class="title-gap"></div>
<div class="main">
  <div class="row">
    <div class="col-12 block-title">凱基小程序</div>
  </div>
  <div class="row">
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/exchange.png') }}" alt="讀不到圖片拉" onclick="addMiniPoint('{{email}}', '{{points}}', 2);">
      <div class="img-description">外匯服務</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/loan.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 2);">
      <div class="img-description">貸款服務</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/creditCard.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 3);">
      <div class="img-description">信用卡服務</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/invest.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 10);">
      <div class="img-description">投資理財</div>
    </div>
  </div>
  <div class="content-gap"></div>
  <div class="row">
    <div class="col-12 block-title">繳費支付</div>
  </div>
  <div class="row">
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/oaLogoLa.png') }}" alt="讀不到圖片拉" onclick="addMiniPoint('{{email}}', '{{points}}' , 5);">
      <div class="img-description">生活繳費王</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/homiPay.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 15);">
      <div class="img-description">Hami Pay生活繳費</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/cwMoney.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 1);">
      <div class="img-description">CW Money</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/parkpay.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 5);">
      <div class="img-description">ParkPay</div>
    </div>
  </div>
  <div class="content-gap"></div>
  <div class="row">
    <div class="col-12 block-title">服飾業</div>
  </div>
  <div class="row">
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/uniqlo.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 25);">
      <div class="img-description">UNIQLO</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/gap.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 20);">
      <div class="img-description">GAP</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/lativ.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 5);">
      <div class="img-description">LATIV</div>
    </div>
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/net.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 15);">
      <div class="img-description">NET</div>
    </div>
  </div>
  <div class="row block-title">
    <div class="col-3">
      <img class="content-img" src="{{ url_for('static',filename='img/gu.png') }}" alt="讀不到圖片拉"  onclick="addMiniPoint('{{email}}', '{{points}}' , 50);">
      <div class="img-description">GU</div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-gap"></div>
  <div class="row">
    <div class="col-6">
      <img class="content-img" src="{{ url_for('static',filename='img/footerIcon1.png') }}" alt="讀不到圖片拉"
        onclick="pageToExchangeItem('{{email}}');">
      <div class="img-description">首頁</div>
    </div>
    <div class="col-6">
      <img class="content-img" src="{{ url_for('static',filename='img/footerIcon2.png') }}" alt="讀不到圖片拉">
      <div class="img-description">分類</div>
    </div>
  </div>
</footer>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
<script>
  function pageToExchangeItem(email) {
      window.location.href = '/exchange-item/' + email + '/' + false;
    }
</script>
{% endblock %}