{% extends "base.html" %} {% block content %}
<div class="block-title col-12">使用者登入(英文名字)</div>
<div class="row">
    <div class="col-6">
        First Name:
        <input type="text" class="form-control inputName" id="firstName" aria-describedby="nameHelp"
            placeholder="ex: Clay" onkeyup="value=value.replace(/[^a-zA-Z]/g,'')">
        <div class="display-error" id="inputCompleteSecondName">此欄位為必填</div>
    </div>
    <div class="col-6">
        Second Name:
        <input type="text" class="form-control inputName" id="secondName" aria-describedby="nameHelp"
            placeholder="ex: Lin" onkeyup="value=value.replace(/[^a-zA-Z]/g,'')">
        <div class="display-error" id="inputCompleteFirstName">此欄位為必填</div>
    </div>
</div>
<div class="align-center login-button" onclick="userLoginInfo()">登 入</div>
<div class="content-gap"></div>

{% endblock %}